services:
  - type: web
    name: 0408p-ecommerce
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE_URL
        value: https://fakestoreapi.com
